@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h2>Blood Donation Information Management System</h2>
</div>
<div class="row boxes text-center">
    <div class="col-lg-4">
        <div class="box">
            <h2 class="box-title">Donors</h2>
            <p class="icon"><span class="glyphicon glyphicon-user"></span></p>
            <p>A Comprehensive Collection of Donors Information</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="box">
            <h2 class="box-title">Donations</h2>
            <p class="icon"><span class="glyphicon glyphicon-user"></span></p>
            <p>Various Donation Camps</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="box">
            <h2 class="box-title">Blood Banks</h2>
            <p class="icon"><span class="glyphicon glyphicon-home"></span></p>
            <p>This is the some description of this section</p>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="text-center blockquote">Donate Blood,Save Life</div>
</div>